.text-center{
    text-align: center;
}
/*================================Hero Hack======================================*/
.hero-hack {
  background:   linear-gradient(
    to right,
    rgba(0, 0, 0, 0.558),
    rgba(0, 0, 0, 0.207)
  ),url(./gallary/hack.jpg);
  color: #FFFFFF;
  padding: 80px 20px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.launch{
    letter-spacing:12px;
    font-size: 2rem;
    font-weight: lighter;
}
.launch-and-count{
    margin-top: 100px;
}
    .countdown {
        font-family: audiowide, sans-serif;
      display: flex;
      column-gap: 50px;
      justify-content: center;
    }
    .number {
      font-size: 36px;
      font-weight: bold;
    }

    .label {
      font-size: 12px;
      color: #aaa;
      margin-top: 6px;
    }
#hours, #seconds{
  color: rgb(141, 141, 141);
}